.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App .Container{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2px;
}

.App .Container select{
  width: 50%;
  margin-top: 10px;
}

.App .Container select option{
  cursor: pointer;
}


